body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	display: inline-block;
	background-color: #519D9E;
}

footer {
	z-index: 100;
	bottom: 0;
	width: 100%;
	background-color: #164F56;
	position: fixed;
	text-align: center;
}

.icons {
	float: left;
	width: 35px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.icons a {
	display: block;
}

.topSection {
	width: 100%;
	height: 100%;
	background-color: #519D9E;
	display: inline-block;
	text-align: center;
}

.gallery {
	overflow: auto;
	margin: auto;
	text-align: center;
	position: fixed;
}

.yourworth {
	padding: 30px 15px;
    margin: 0 auto;
    width: 160px;
    float: center;
    display: inline-block;
    text-align: center;
}

.logos , .about , .who {
	margin-top: 35px;
	margin-bottom: 35px;
	overflow: auto;
	display: inline-block;
	vertical-align: top;
}

.logos {
	width: 160px;
	margin-right: 15px;
}

.about {
	width: 525px;
	margin-right: 15px;
}

.who {
	width: 220px;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

h1 {
	color: #004E56;
  	font: 700 1.1em/1 'PT Sans';
  	margin: .1em;
  	text-rendering: optimizeLegibility;
  	text-align: center;
  	opacity: 50%;
} 

h2 {
	color: white;
  	font: 700 2.2em/1.2 'Inconsolata';
  	margin: auto;
  	text-rendering: optimizeLegibility;
  	text-align: center;
  	margin-top: 2%;
} 

h3 {
	color: white;
  	font: 700 1.5em/1.2 'PT Sans';
  	text-rendering: optimizeLegibility;
  	text-align: left;
  	margin: 0;
} 

h4 {
	color: #AAB8BB;
  	font: 400 1em/.8 'PT Sans';
  	text-rendering: optimizeLegibility;
  	text-align: left;
  	margin: 0;
}  

h5 {
	color: #AAB8BB;
  	font: 700 1.5em/1.2 'PT Sans';
  	text-rendering: optimizeLegibility;
  	text-align: left;
  	margin-top: 0;
  	margin-bottom: .2em
} 

h6 {
	color: #AAB8BB;
  	font: 400 1em/1.5 'PT Sans';
  	text-rendering: optimizeLegibility;
  	text-align: left;
  	margin: 0;
  	text-decoration: none;
}  

h4 + h4 { 
	margin-top: 1.2em;
}

h3 + h4 {
	margin-top: .6em;
}

h6 + h6 { 
	margin-top: 1.2em;
}